#include <windows.h>
//#define USE_FILES


#ifndef USE_FILES
INTRO_GIF         GIFFILE resources\greatmachineintro.gif
LOADING_GIF       GIFFILE resources\loadingbackground.gif
LOGO_GIF          GIFFILE resources\GreatMachine_logo.gif
MENU_GIF          GIFFILE resources\menu.gif
GENERAL_GIF       GIFFILE resources\general.gif
ROAD_GIF          GIFFILE resources\road.gif
MOUNTAINS_GIF     GIFFILE resources\mountains.gif
SKY_GIF           GIFFILE resources\sky.gif
TREE1_GIF         GIFFILE resources\tree1.gif
TREE2_GIF         GIFFILE resources\tree2.gif
TREE3_GIF         GIFFILE resources\tree3.gif
TREE4_GIF         GIFFILE resources\tree4.gif
PLAYER_START_GIF  GIFFILE resources\startercar.gif
LEVELNAME_GIF     GIFFILE resources\levelname.gif
LEVEL_ONE_GIF     GIFFILE resources\one.gif
LEVEL_TWO_GIF     GIFFILE resources\two.gif
LEVEL_THREE_GIF   GIFFILE resources\three.gif
LEVEL_FOUR_GIF    GIFFILE resources\four.gif
GENERIC_CAR1_GIF  GIFFILE resources\GenericCar1.gif
GENERIC_CAR2_GIF  GIFFILE resources\GenericCar2.gif
GENERIC_CAR3_GIF  GIFFILE resources\GenericCar3.gif
GENERIC_CAR4_GIF  GIFFILE resources\GenericCar4.gif
GENERIC_CAR5_GIF  GIFFILE resources\GenericCar5.gif
GENERIC_CAR6_GIF  GIFFILE resources\GenericCar6.gif
GENERIC_CAR7_GIF  GIFFILE resources\GenericCar7.gif
BOOM_GIF          GIFFILE resources\boom.gif
PANEL_GIF         GIFFILE resources\panel.gif
FUEL_GIF          GIFFILE resources\fuel.gif
FUEL2_GIF         GIFFILE resources\fuel2.gif
CARPART1_GIF      GIFFILE resources\carpart1.gif
CARPART2_GIF      GIFFILE resources\carpart2.gif
CARPART3_GIF      GIFFILE resources\carpart3.gif
CARPART4_GIF      GIFFILE resources\carpart4.gif
CARPART5_GIF      GIFFILE resources\carpart5.gif
CARPART6_GIF      GIFFILE resources\carpart6.gif
CARSPIN_GIF       GIFFILE resources\carspin.gif
PERSON1_GIF       GIFFILE resources\person1.gif
PERSON2_GIF       GIFFILE resources\person2.gif
PERSON3_GIF       GIFFILE resources\person3.gif
PERSON4_GIF       GIFFILE resources\person4.gif
PERSON5_GIF       GIFFILE resources\person5.gif
PERSON6_GIF       GIFFILE resources\person6.gif
PERSON7_GIF       GIFFILE resources\person7.gif
PERSON8_GIF       GIFFILE resources\person8.gif
ITEM1_GIF         GIFFILE resources\item1.gif
ICON1_GIF         GIFFILE resources\fuel_icon.gif
ICON2_GIF         GIFFILE resources\CarPart1_icon.gif
ICON3_GIF         GIFFILE resources\CarPart2_icon.gif
ICON4_GIF         GIFFILE resources\CarPart3_icon.gif
#endif
