#include <windows.h>
// #define USE_FILES


#ifndef USE_FILES
INTRO_GIF         GIFFILE resources\greatmachineintro.gif
LOADING_GIF       GIFFILE resources\loadingbackground.gif
LOGO_GIF          GIFFILE resources\GreatMachine_logo.gif
MENU_GIF          GIFFILE resources\menu.gif
GENERAL_GIF       GIFFILE resources\general.gif
ROAD_GIF          GIFFILE resources\road.gif
MOUNTAINS_GIF     GIFFILE resources\mountains.gif
SKY_GIF           GIFFILE resources\sky.gif
TREE1_GIF         GIFFILE resources\tree1.gif
TREE2_GIF         GIFFILE resources\tree2.gif
TREE3_GIF         GIFFILE resources\tree3.gif
TREE4_GIF         GIFFILE resources\tree4.gif
PLAYER_START_GIF  GIFFILE resources\startercar.gif
LEVELNAME_GIF     GIFFILE resources\levelname.gif
LEVEL_ONE_GIF     GIFFILE resources\one.gif
LEVEL_TWO_GIF     GIFFILE resources\two.gif
LEVEL_THREE_GIF   GIFFILE resources\three.gif
LEVEL_FOUR_GIF    GIFFILE resources\four.gif
#endif