#include <windows.h>


INTRO_GIF    GIFFILE resources\spaceinvadersintro.gif
SPRITES_GIF  GIFFILE resources\SpaceInvaderSprites.gif
LOADING_GIF  GIFFILE resources\spaceloadingbackground.gif
LOGO_GIF     GIFFILE resources\Space_Invaders_logo.gif
MENU_GIF     GIFFILE resources\spmenu.gif
GENERAL_GIF  GIFFILE resources\spgeneral.gif
LEVEL1_GIF   GIFFILE resources\spacelevelbackground.gif
LEVEL2_GIF   GIFFILE resources\moonandearth.gif
LEVEL3_GIF   GIFFILE resources\level3.gif
LEVEL4_GIF   GIFFILE resources\level4.gif