#include <windows.h>


INTRO_GIF    GIFFILE resources\spaceinvadersintro.gif
SPRITES_GIF  GIFFILE resources\SpaceInvaderSprites.gif
LOADING_GIF  GIFFILE resources\spaceloadingbackground.gif
LOGO_GIF     GIFFILE resources\Space_Invaders_logo.gif
MENU_GIF     GIFFILE resources\spmenu.gif
GENERAL_GIF  GIFFILE resources\spgeneral.gif

